.tech {
    background-image: url("/public/technology/background-technology-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding-bottom: 40px;
}

@media screen and (max-width: 900px) {
    .tech {
        background-image: url("/public/technology/background-technology-tablet.jpg");
    }
}

@media screen and (max-width: 500px) {
    .tech {
        background-image: url("/public/technology/background-technology-mobile.jpg");
        height: 100vh;
    }
}
