.titan {
    display: flex;
}

.titan img {
  margin-left: 110px;
  margin-top: 30px;
}

.titan-div {
  display: flex;
  flex-direction: column;
  width: 445px;
  margin-left: 230px;
  margin-top: 60px;
}

.m1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 100px;
  color: #fff;
  margin-bottom: 15px;
}

.m2 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #d0d6f9;
  border-bottom: 1px solid gray;
  padding-bottom: 55px;
}

.distance-div {
  display: flex;
  margin-top: 30px;
}

.m3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #d0d6f9;
  margin-bottom: 10px;
}

.m4 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}

.distance {
    margin-right: 130px;
}

@media screen and (max-width: 1000px) {
  .titan {
    flex-direction: column;
    justify-content: center;
  }

  .titan img {
    width: 300px;
    height: 300px;
    overflow-y: hidden;
  }

  .titan-div {
    text-align: center;
    overflow-y: hidden;
  }

  .distance-div, .titan-div, .titan img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 455px) {
  .titan img {
    width: 150px;
    height: 150px;
  }

  .titan-div {
    width: 350px;
  }

  .m1 {
    font-size: 56px;
  }

  .m2 {
    font-size: 15px;
  }

  .distance-div {
    flex-direction: column;
    justify-content: center;
  }

  .distance {
    margin-right: auto;
    margin-bottom: 20px;
  }
}

